body {
    background: url(../img/space.jpg);
    font-family: 'Rubik', sans-serif;
}

.main-section {
    color: white;
    font-size: 25px;
}

.section-header {
    padding: 20px;
    font-size: 30px;
}

.img-container {
    display: inline-block;
    position: relative;
    border: 5px solid rgba(250, 168, 4);
    border-radius: 200px;
    background-color: black;
    margin: 10px;
}

.ship-img {
    width: 100px;
    height: 100px;
}

.ship-health {
    position: absolute;
    padding: 3px;
    bottom: -10px;
    right: 5px;
    color: black;
    font-size: 25px;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgba(200, 200, 200, .3);
    border-radius: 10px;
    text-shadow: -1px 0 rgba(250, 168, 4), 0 1px rgba(250, 168, 4), 1px 0 rgba(250, 168, 4), 0 -1px rgba(250, 168, 4);
}

.ship-name {
    position: absolute;
    padding: 3px;
    top: -10px;
    color: black;
    font-size: 15px;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgba(200, 200, 200, .3);
    border-radius: 10px;
    text-shadow: -1px 0 rgba(250, 168, 4), 0 1px rgba(250, 168, 4), 1px 0 rgba(250, 168, 4), 0 -1px rgba(250, 168, 4);
}

.attack-btn {
    background-color: #af0014;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

.text-box {
    position: absolute;
    background-color: white;
    left: 30px;
    top: 30px;
    height: 300px;
    width: 300px;
    z-index: 2;
}