body {
    background: url(../img/space.jpg);
    font-family: 'Rubik', sans-serif;
}

header {
    color: black;
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgba(200, 200, 200, .3);
    text-shadow: -1px 0 rgba(250, 168, 4), 0 1px rgba(250, 168, 4), 1px 0 rgba(250, 168, 4), 0 -1px rgba(250, 168, 4);
    text-align: center;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: 220px 220px 220px 300px;
    justify-items: center;
    row-gap: 10px;
    color: white;
    font-size: 25px;
}

.choose-ship {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
}

.my-ship {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
}

.enemy-ship {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center
}

.target-ship {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

.attack {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
}

.attack-log {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: white;
    width: 80%;
    overflow: auto;
}

.attack-log>p {
    font-family: 'Rubik', sans-serif;
    color: #252525;
    font-size: 14px;
    padding: 5px;
    line-height: 18px;
}

.section-header {
    padding: 20px;
    font-size: 30px;
}

.img-container {
    display: inline-block;
    position: relative;
    border: 5px solid rgba(250, 168, 4);
    border-radius: 200px;
    background-color: black;
    margin: 10px;
}

.ship-img {
    width: 100px;
    height: 100px;
}

.ship-health {
    position: absolute;
    padding: 3px;
    bottom: -10px;
    right: 5px;
    color: black;
    font-size: 25px;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgba(200, 200, 200, .3);
    border-radius: 10px;
    text-shadow: -1px 0 rgba(250, 168, 4), 0 1px rgba(250, 168, 4), 1px 0 rgba(250, 168, 4), 0 -1px rgba(250, 168, 4);
}

.ship-name {
    position: absolute;
    padding: 3px;
    top: -10px;
    color: black;
    font-size: 15px;
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgba(200, 200, 200, .3);
    border-radius: 10px;
    text-shadow: -1px 0 rgba(250, 168, 4), 0 1px rgba(250, 168, 4), 1px 0 rgba(250, 168, 4), 0 -1px rgba(250, 168, 4);
}

.attack-btn {
    background-color: #af0014;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

.text-box {
    position: absolute;
    background-color: white;
    left: 30px;
    top: 30px;
    margin-right: 30px;
    height: auto;
    width: 90%;
    z-index: 2;
}

.txt-main {
    margin: 15px;
    padding: 15px;
    border: 1px solid lightgray;
}

.p1 {
    font-size: 40px;
    color: black;
    font-family: 'Rubik Mono One', sans-serif;
    text-shadow: -1px 0 rgba(250, 168, 4), 0 1px rgba(250, 168, 4), 1px 0 rgba(250, 168, 4), 0 -1px rgba(250, 168, 4);
    padding: 10px;
    margin: 30px auto;
    text-align: center;
}

.p2 {
    font-size: 20px;
    line-height: 35px;
    padding: 20px;
}

.end-btn {
    display: block;
    background-color: #0a0a50;
    color: white;
    padding: 10px;
    margin: 40px auto;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 670px) {
    header {
        font-size: 35px;
    }
    .choose-ship>.img-container>.ship-img, .enemy-ship>.img-container>.ship-img {
        width: 70px;
        height: 70px;
    }

    .choose-ship>.img-container>.ship-name, .enemy-ship>.img-container>.ship-name {
        font-size: 10px;
    }

    .choose-ship>.img-container>.ship-health, .enemy-ship>.img-container>.ship-health {
        font-size: 20px;
    }

    .attack-btn {
        font-size: 24px;
    }
}

@media screen and (max-width: 520px) {
    header {
        font-size: 35px;
    }
    .choose-ship>.img-container>.ship-img, .enemy-ship>.img-container>.ship-img {
        width: 50px;
        height: 50px;
    }

    .choose-ship>.img-container>.ship-name, .enemy-ship>.img-container>.ship-name {
        font-size: 8px;
    }

    .choose-ship>.img-container>.ship-health, .enemy-ship>.img-container>.ship-health {
        font-size: 16px;
    }

    .attack-btn {
        font-size: 18px;
    }
}